body {
    background-color: #F7F7F7;
}
/*#header nav {
    height: 5em;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px black solid;
}
li {
    display: inline-block;
    width: 7em;
    height: 5em;
    border-bottom: 2px white solid;
    

}
li.active {
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
}
li:hover {
    cursor: pointer;
}*/
li a {
    font-size: 1.5em;
    font-family: 微軟正黑體, "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    /*font-family: 微軟正黑體, Arial, Helvetica, sans-serif;*/
    line-height: 2.7em;
    padding-left: 1.3em;
    
}
.panel-block {
    border: 1px solid #E6E9ED;
    background-color: #FFFFFF;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.chart-option {
    height: 3em;
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}
/*.dropdown.area {
    float: left;
}
.dropdown.area a {
    font-size: 1em;
}
.dropdown-menu {
    width: 5em;
    min-width: 5em;
}

.dropdown.area li {
    height: 1em;
}*/