<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Taiwan Visitors by Area</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.css" rel="stylesheet" type="text/css">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

        <select class="visitor_area">
        {% for area in areas %}
            <option value="{{ area }}">{{ area }}</option>
        {% endfor %}  
        </select>
        
        <!-- COPY/PASTE SCRIPT HERE -->
	    {{script|safe}}
        <script>
            var main = function() {
                $(".visitor_area").change(function(){
                    alert($(".visitor_area").val())
                    window.location.href = "http://localhost:8000/visitors/" + $(".visitor_area").val();
                });
            }

            $(document).ready(main);
        </script>

    </head>
    <body>
        <!-- INSERT DIVS HERE -->
        {{div|safe}}
    </body>
</html>



