{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Taiwan Visitors by Area</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.css" rel="stylesheet" type="text/css">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="{% static 'visitors/bokeh_app.js' %}"></script>
        <!-- COPY/PASTE SCRIPT HERE -->
	    {{script|safe}}
    </head>
    <body>
        <select class="visitor_area">
        {% for area in areas %}
            <option value="{{ area }}">{{ area }}</option>
        {% endfor %}  
        </select>
        <!-- INSERT DIVS HERE -->
        {{div|safe}}
    </body>
</html>



