{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Taiwan Visitors by Area</title>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="{% static 'visitors/highchart_app.js' %}"></script>
        <link rel="stylesheet" href="{% static 'visitors/main.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <header id="header">
            <nav class="purpose">
                <ul>
                    <li><a href="#" data-purpose="All">全部</a></li>
                    <li class="active"><a href="#" data-purpose="Pleasure">觀光</a></li>
                    <li><a href="#" data-purpose="Business">業務</a></li>
                    <li><a href="#" data-purpose="Visit Relatives">探親</a></li>
                    <li><a href="#" data-purpose="Conference">會議</a></li>
                    <li><a href="#" data-purpose="Study">求學</a></li>
                    <li><a href="#" data-purpose="Exhibition">展覽</a></li>
                    <li><a href="#" data-purpose="Medical Treatment">醫療</a></li>
                    <li><a href="#" data-purpose="Others">其它</a></li>
                </ul>
            </nav>
            <nav class="area">
                <ul>
                    <li class="active"><a href="#" data-purpose="All">全部</a></li>
                    <li><a href="#" data-purpose="亞洲地區">亞洲</a></li>
                    <li><a href="#" data-purpose="美洲地區">美洲</a></li>
                    <li><a href="#" data-purpose="歐洲地區">歐洲</a></li>
                    <li><a href="#" data-purpose="大洋洲">大洋洲</a></li>
                    <li><a href="#" data-purpose="非洲地區">非洲</a></li>
                </ul>
            </nav>      
        </header>
        <section>
            <button id="chartCTR">change</button>
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </section>

    </body>
</html>



